* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    margin: 0;
    padding: 0;
    background-color: rgba(98, 238, 177, 0.401);
}

h1 {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

h2 {
    font-weight: 600;
    font-size: 40px;
    color: rgba(18, 1, 1, 0.74);
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: wheat;
}

.menu-logo img {
    width: 150px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2rem;
}

/* nav ul.hidden {
  
} */

nav ul li a {
    text-decoration: none;
    font-size: 25px;
    color: rgb(23, 21, 21);
    font-weight: 600;
    padding: 8px 0;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 1px solid rgba(255, 166, 0, 0);
}

nav ul li a:hover {
    color: orange;
    border-bottom: 1px solid orange;
}

.menu-icon {
    display: none;
    font-size: 25px;
}


.home {
    text-align: center;
}

.home img {
    width: 100%;
}

.home p {
    font-size: 20px;
}

.produk-skincare {
    display: flex;
    justify-content: center;
    margin: 100px 0 0 200px;
    width: 70%;
    height: 450px;
    gap: 5px;
}

.produk-skincare img {
    width: 22%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid white;
    transition: all ease-in-out 0.5s;
}

.produk-skincare img:hover {
    width: 40%;
}

.sertifikat {
    margin: 50px;
    font-size: 20px;
}

.logo-sertifikat {
    display: flex;
    justify-content: center;
}

.logo-sertifikat img {
    width: 200px;
    margin: 5px;
}


@media only screen and (max-width : 768px) {
    nav {
        flex-wrap: wrap;
        position: fixed;
        width: 100%;
    }
    nav ul {
        flex-direction: column;
        width: 100%;
    }
    .menu-icon {
        display: flex;
        align-items: center;
    }
}